body {
  background: #F2F0EB;
  width: 100%;
  height: 100%;
}

/* Item Page Style */

.item-page {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

#container {
  height: 100%;
  width: 100%;
}

/* Footer Style */

.footer {
  height: 3%;
  background-Color:#212529;
  display: flex;
}

.footer-text {
  margin: auto;
  color: white;
}

/* Item Card Style*/

.item-card {
  background: #F2F0EB;
  box-sizing: border-box;
  border: none;
  padding: 15px;
}

.card-header {
  padding: 0;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
}

.hero-image h2 {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100%;
}

.hero-image h2 span {
  color: white; 
  font: bold 14px/26px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 8px;
  border-radius: 5px; 
}
